/*------------------------------------*\
  #COMPONENT-BTN
\*------------------------------------*/
@import "_s.all-settings";

.btn {
  display: inline-block;
  text-decoration: none;
  padding: 7px 20px;
  border-radius: 3px;
  cursor: pointer;
  border: 1px solid $darkAccentColor;
  color: $darkAccentColor;
  background-color: $lightAccentColor;
  margin: 2px;
  text-align: center;
  font-size: $fntSz;
  text-overflow: none;
  
  &--primary {
    @extend .btn;
    background-color: $primaryColor;
    border-color: $primaryColor;
    color: $lightAccentColor;
  } 
  &--secondary {
    @extend .btn;
    background-color: $lightAccentColor;
    border-color: $primaryColor;
    color:$primaryColor;
  }
  &--promo {
    @extend .btn;
    background-color: $secondaryColor;
    border-color: $secondaryColor;
    color: $lightAccentColor;
  }   
}
.btn--med {
  padding: 7px 40px;  
}
.btn--lg {
  padding: 10px 80px;
}