/*------------------------------------*\
  #COMPONENT-HEADINGS
\*------------------------------------*/
@import "_s.all-settings";

.title {
  margin: $space-stack-s;
  text-align: center;
  color: $darkAccentColor;

  &--page{
    text-align: center;
    color: $darkAccentColor;
    margin:$space-stack-xl;
    font-weight: lighter;
  }

  &--sect {
    color: $secondaryColor;
    text-align: center;
  }
  &--scene {
    color: $secondaryColor;
    text-align: center;
  }
}