/*------------------------------------*\
  #COMPONENT-HEADINGS
\*------------------------------------*/
@import "_s.all-settings";

.title {
  margin: $spacing-stack-default;
  text-align: center;
  color: $darkAccentColor;

  &--page{
    @extend .title;
    text-align: center;
    color: $darkAccentColor;
  }

  &--sect {
    @extend .title;
    color: $secondaryColor;
    text-align: left;
  }
  &--scene {
    @extend .title;
    color: $secondaryColor;
    text-align: center;
  }
}