 .bottom-nav{
  margin: $space-stack-l;
  text-align: center;
  width: 100%;
  display: inline-flex;
  justify-content: center;
 }
 .column-head {
  margin: $space-stack-s;
 }
 .nav-botm {
   padding: $space-inset-m;
 }
 .botm-nav-item{
   margin: $space-stack-s;
 }