.section{
  width: 100%;
  padding: $space-inset-default;
  margin: $space-stack-xl;
  text-align: center;

  &.hero {
    >.title{
      margin:$space-stack-s;
    }
  }
  &.disclaim{
    >.title{
      color: $primaryColor;
      margin:$space-inset-xs;
      text-transform: uppercase;
    }
  }
  &.bginfo{
    >.title {
      padding:$space-inset-squish-m;
      margin:$space-stack-xs
    }
  }
  &.scenario {
    >.title {
      text-align: left;
      padding:$space-inset-squish-m;
    }
  }
}
.sect--body {
  text-align: center;
}
.sect--text {
  text-align: left;
  line-height: 3;
  margin:$space-stack-s;
}