.section{
  width: 100%;
  padding: $space-inset-default;
  margin: $space-stack-l;
  text-align: center;

  &.hero {
    .title--sect{
      margin:$space-stack-s;
      text-align: center;
    }
  }
  &.disclaim{
    >.title--sect{
      color: $primaryColor;
      margin: $space-stack-s;
      text-align: center;
      text-transform: uppercase;
    }
  }
}
.sect--body {
  text-align: center;
}
.sect--text {
  text-align: left;
  line-height: 4;
  margin:$space-stack-s;
}