/*------------------------------------*\
  #SETTINGS-GLOBALS
\*------------------------------------*/

// Contains project wide global variables; things that need to be available to // entire code base

// Global color Palette

$primaryColor: #fc3a3a;
$secondaryColor: #577399;
$highlightColor: #bdd5ea;
$darkAccentColor: #495867;
$lightAccentColor: #f7f7ff;




