/*------------------------------------*\
  #SETTINGS-GLOBALS
\*------------------------------------*/

// Contains project wide global variables; things that need to be available to // entire code base

// Global color Palette

$primaryColor: ;
$secondaryColor: ;
$highlightColor: ;
$darkAccentColor: ;
$lightAccentColor: ;




