//Global fonts

$base-font-scale: 16px;


$fontStack: 'Roboto', Helvetica, Arial, sans-serif;
$fntSz: 16px;
$lnHt: 1.5;
$fntWght: 400;
$bold: 700;

// font scaling
$font-size-xs: 4px;
$font-size-s: 8px;
$font-size-m: 12px;
$font-size-default: 16px;
$font-size-l: 24px;
$font-size-xl: 32px;
$font-size-xxl: 48px;

