/*------------------------------------*\
  #SETTINGS-Spacing
\*------------------------------------*/
@import "_s.fonts";

$space-inset-default: 1rem 1rem 1rem 1rem;
$space-inset-xs: 0.25rem 0.25rem 0.25rem 0.25rem;
$space-inset-s: 0.5rem 0.5rem 0.5rem 0.5rem;
$space-inset-m: 1rem 1rem 1rem 1rem;
$space-inset-l: 2rem 2rem 2rem 2rem;
$space-inset-xl: 4rem 4rem 4rem 4rem;
$space-stack-default: 0 0 1rem 0;
$space-stack-xs: 0 0 0.25rem 0;
$space-stack-s: 0 0 0.5rem 0;
$space-stack-m: 0 0 1rem 0;
$space-stack-l: 0 0 2rem 0;
$space-stack-xl: 0 0 4rem 0;
$space-inline-xs: 0 0.25rem 0 0;
$space-inline-s: 0 0.5rem 0 0;
$space-inline-m: 0 1rem 0 0;
$space-inline-l: 0 2rem 0 0;
$space-inline-xl: 0 4rem 0 0;
$space-default: 1rem;
$space-xs: 0.25rem;
$space-s: 0.5rem;
$space-m: 1rem;
$space-l: 2rem;
$space-xl: 4rem;